version: "3.9"

services:
  api:
    image: ai-resume-analyzer-backend
    container_name: ai-resume-analyzer-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

